/* src/pages/NotFoundPage.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    /* Subtrai o Header para centralizar na área de conteúdo */
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    /* Fundo leve */
}

.title {
    font-size: 6rem;
    color: #dc3545;
    /* Vermelho forte para o 404 */
    margin-bottom: 10px;
    font-weight: 900;
}

.subtitle {
    font-size: 1.5rem;
    color: #343a40;
    margin-bottom: 30px;
}

.backButton {
    background-color: #007bff;
    /* Azul primário */
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
    /* Se usado com Link */
    transition: background-color 0.2s;
}

.backButton:hover {
    background-color: #0056b3;
}