.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.table th,
.table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #e9ecef;
}

/* Estilos para os status */
.EmProdução {
    color: #ffc107;
    font-weight: bold;
}

.EmTransporte {
    color: #17a2b8;
    font-weight: bold;
}

.ProntaparaUso {
    color: #28a745;
    font-weight: bold;
}

.selectStatus {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
}